@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-DmSans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

@theme {
  --color-white: oklch(100% 0 0);
  --color-secondary: oklch(63% 0.213 32.44) /*#EE4223*/;
  --color-bgSecondary: oklch(97.02% 0 0) /*#F5F5F5*/;
  --color-bgSecondaryone: oklch(41.05% 0.0566 243.34) /*#2E4E67*/;
  --color-bgSecondarytwo: oklch(32.81% 0.0355 244.32) /*#253746*/;
}

img {
  image-rendering: smooth;
}

@theme inline {
  --color-background: var(--color-white);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }

  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1301px) and (max-width: 1500px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1501px) and (max-width: 1800px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1901px) and (max-width: 2100px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 2101px) and (max-width: 2500px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 2501px) and (max-width: 3000px) {
  html {
    font-size: 24px;
  }
}

.wrapper {
  max-width: 90rem;
}

@media (max-width: 1120px) {
  .wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 90rem;
  }
}

.inter-font {
  font-family: var(--font-inter);
}

/* ===== Custom Shadow Class ===== */
.custom-shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

/* Optional hover state for better depth */
.custom-shadow:hover {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
}

/* Use this to show the number input arrows */
/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
} */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
}

.noOverflow::-webkit-scrollbar {
  display: none;
}

/* custom shadow */

.shadow-custom-md-h:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

@layer utilities {
  .shadow-primary:hover {
    box-shadow: 0 3px 8px #136bb8;
  }
  .shadow-custom-sm {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  }

  .shadow-custom-md {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  }

  .shadow-custom-lg {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  .shadow-custom-xl {
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
  }
  .shadow-header {
    box-shadow: 0px 3px 14px 0px #1214290a;
  }
  .shadow-button {
    box-shadow: 0px 2px 12px 0px #14142b14;
  }
  .shadow-testimonial {
    box-shadow: 0px 2px 6px 0px #1b1e3e14;
  }
  .shadow-service {
    box-shadow: 1px 2px 23.5px 0px #0000000d;
  }

  .shadow-review {
    box-shadow:
      0px 2px 4px 0px #0000001a,
      0px 7px 7px 0px #00000017,
      0px 16px 9px 0px #0000000d,
      0px 28px 11px 0px #00000003,
      0px 43px 12px 0px #00000000;
  }
}

/* ----------------------Custom Css-------------------- */

/* hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tringle-bottom {
  width: 0px;
  height: 0px;
  /* padding: 10rem; */
  border-top: 100px solid red;
  /* border-bottom: 100px solid red; */
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  /* margin: 0 auto; */
}

/* ----------------------- Blog ----------------------- */
/* Typography */
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -2%;
  color: var(--color-Vulcan);
  margin-top: 1rem;
}
.blog-content div {
  color: var(--color-border);
}
.blog-content h1 {
  font-size: 2rem;

  margin-top: 0.5rem;
}

@media (min-width: 640px) {
  .blog-content h1 {
    font-size: 2.25rem;
  }
}
.blog-content h2 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 700;
  vertical-align: middle;
}

@media (min-width: 640px) {
  .blog-content h2 {
    font-size: 1.5rem; /* sm:text-2xl */
  }
}
.blog-content h3 {
  font-size: 1.5rem;
}
.blog-content h4 {
  font-size: 1.3rem;
}
.blog-content h5 {
  font-size: 1.1rem;
}
.blog-content h6 {
  font-size: 1rem;
}

/* Paragraphs */
.blog-content-faq p {
  margin-bottom: 0.25rem;
  line-height: 1.75;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.blog-content p {
  margin-bottom: 0.25rem;
  line-height: 1.75;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  /* color: var(--color-border); */
  color: #000000;
}

.blog-content strong {
  font-weight: bold;
  /* color: var(--color-bgFaq); */
  color: #000000;
}

/* Links */
.blog-content a {
  color: var(--color-primary);
  text-decoration: underline;
}

.blog-content a:hover {
  color: var(--color-bgSecondary);
}

/* Lists */
.blog-content ul,
.blog-content ol {
  margin: 1rem 0 1.5rem 1.5rem;
  /* border: 1px solid red; */
  font-weight: 500;
  /* color: var(--color-border); */
  color: #000000;
}
.blog-content ul {
  list-style-type: disc;
}
.blog-content ul li::marker {
  color: var(--color-Midnight);
}

.blog-content ol {
  list-style-type: decimal;
}
.blog-content ol li::marker {
  color: var(--color-Midnight);
}

.blog-content ul li {
  margin-bottom: 0.25rem;
}
.blog-content ol li {
  margin-bottom: 0.25rem;
}

/* Blockquote */
.blog-content blockquote {
  border-left: 4px solid var(--color-bgSecondary);
  background: rgb(19, 107, 184, 0.1);
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 4px;
  font-style: italic;
}

/* Images */
.blog-content img {
  max-width: 100%;
  border-radius: 8px;
}

/* Figure */
.blog-content figure {
  text-align: center;
  margin: 1.5rem 0;
}

.blog-content figcaption {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-Vulcan);
}

/*---------- Code ----------*/
.blog-content code {
  background: var(--color-sectionBg);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

.blog-content pre {
  background: var(--color-bgPrimary);
  margin: 1rem 0rem;
  color: var(--color-Midnight);
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
}

/*---------- Tables ----------*/
.blog-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
}

.blog-content table th,
.blog-content table td {
  border: 1px solid var(--color-border1);
  padding: 0.8rem;
}

.blog-content table th {
  background: var(--color-sectionBg);
  color: var(--color-Vulcan);
}

.blog-content table td {
  color: var(--color-border);
}

/*---------- Horizontal line ----------*/
.blog-content hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 2rem 0;
}

/* ------------Table of Content------------ */
.toc {
  position: sticky;
  top: 80px;
}

.toc-title {
  font-weight: 600;
  margin-bottom: 8px;
}

.toc-item {
  font-size: 14px;
  margin-bottom: 6px;
}

.toc-item.level-3 {
  margin-left: 12px;
}

.toc-item.level-4 {
  margin-left: 24px;
}

.toc-item.active a {
  color: var(--color-primary);
  font-weight: 600;
}
